<script src="{{ 'product-with-js2.js' | asset_url }}"></script>
<script src="{{ 'shopify-money.js' | asset_url }}"></script>
<h1>{{ product.title }}</h1>
<h2>{{ product.title }}</h2>
<div class="product-price"> From:{{ product.selected_or_first_available_variant.price | money}}</div>
<img class="product-image" src="{{ product.selected_or_first_available_variant.featured_image | image_url: width: 400}}" style="max-width: 400px" >
{%  if product.media.size != blank %}
    
        <div class="product-img-grid">
            {% for image in product.media %}
                
        <img src="{{ image | image_url: width: 100 }}">
        {%  endfor %}   
    </div>
    
{% endif %}

{% comment %} {% form 'product', product  %}
    <input type="hidden" name="id" value= "{{ product.selected_or_first_available_variant.id }}">
    <button type="submit"> Add to cart</button>
{% endform %} {% endcomment %}

{% comment %} the above is for no varient {% endcomment %}

    {% form 'product', product %}
        <select id="current-varient" name="id" data-product-handle="{{ product.handle }}">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}" 
            {% if variant.id == product.selected_or_first_available_variant.id %}selected{% endif %}>{{ variant.title }}</option>
            {% endfor %}
        </select>
        {% if product.selected_or_first_available_variant.available %}
        <button id="atc-button" type="submit"> Add to cart</button>
        {% else %}
          <button id="atc-button" disabled type="submit"> Sold out</button>  
        {% endif %}
    {% endform %}

    <script type="application/json" class="product-varient-json">
    {{ product.variants | json }}
</script>